{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Crowbot</title>
        <meta name="author" content="Crow Crew">
        <meta name="description" content="description here">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto%7CNoto+Serif%7CNoto+Sans' type='text/css'>
        <link rel='stylesheet' href="{% static 'frontend/style.css' %}" type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="{% static 'frontend/script.js' %}"></script>
    </head>

    <body class="flex-container flex-column">
        <header class="flex-container">
            <div>
                <img alt="" src="{% static 'frontend/crowbot.png' %}"/>
            </div>
            <h1>Crowbot</h1>
            <div class="linker">
                {% if user.is_authenticated %}
                <a href="/profilside" class="btn btn-primary">{% firstof user.first_name user.username %}</a>
                <a href="/accounts/logout" class="btn btn-primary">Log out</a>
                {% else %}
                <a href="/accounts/login" class="btn btn-primary">Log in</a>
                <a href="/accounts/signup" class="btn btn-primary">Signup</a>
                {% endif %}	
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#help-modal">Help</button>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </body>

    <script type="text/javascript">
     {% if user.is_authenticated %}
        let loggedIn = true;
     {% else %}
        let loggedIn = false;
     {% endif %}
     </script>

</html>
