{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Crowbot</title>
        <meta name="author" content="Crow Crew">
        <meta name="description" content="description here">
        <!-- <link rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css'> -->
        <link rel='stylesheet' href="{% static 'frontend/style.css' %}" type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{% static 'frontend/script.js' %}"></script>
    </head>
    <body>
        <header>
            <h1>Crowbot</h1>
        </header>
        <div class="main-column flex-container">
            <ul class="message-box flex-shrink" id="message-box">
                <li class="message bot-msg">Hi! Welcome to Crowbot!</li>
                <li class="message user-msg">hey crowbot</li>
            </ul>
            <form id="message-form" action="" class="flex-shrink">
                <textarea id="user-input" name="input-field" type="textarea" value=""
                          placeholder="Ask Crowbot something"
                          class="text-input"></textarea>
                <input id="send-button" name="send-button" type="submit" value="Send"/>
            </form>
        </div>
    </body>
</html>
