{% extends 'frontend/base.html' %}

{% load static %}

{% block content %}
<div id="sign-block">

<div class="listeTing"><p>Brukernavn</p></div>
<div class="info"><p>{{ user.username }}</p> </div>
<div class="listeTing"><p>Navn</p></div>
<div class="info"><p>{{ user.get_full_name }} </p></div>
<div class="listeTing"><p>Institutt</p></div>
<div class="info"><p>{{ user.profile.institute }}</p></div>
<div class="listeTing"><p>Birthdate</p></div>
<div class="info"><p>{{ user.profile.birthdate }}</p></div>
<div class="listeTing"><p>Role</p></div>
<div class="info"><p>{{user.profile.role}}</p></div>
<div class="listeTing">Email address</div>
<div class="info"><p>{{ user.email }}</p></div>

<div id="profilbilde">
    <!--<img src="profil.png" alt="Bilde">-->
</div>
</div>
{% endblock %}

